* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.site_header {
    background-color: #DFE0DF;
    height: 30px;
    width: 100%;
    flex-wrap: wrap;
}
.bottoni {
    width: 20%;
    flex-direction: row;
    display: inline;
    float: left;
}
.botton-red {
    width: 15px;
    height: 15px;
    background-color: #FC605C;
    border-radius: 50%;
    border:1px solid #E24B49;
    margin: 6px 3px;
}
.botton-yellow {
    width: 15px;
    height: 15px;
    background-color: #FDBC40;
    border-radius: 50%;
    border: 1px solid #EBAC3A;
    margin: 6px 3px;
}
.botton-green {
    width: 15px;
    height: 15px;
    background-color: #33C84A;
    border-radius: 50%;
    border: 1px solid #3FBA51;
    margin: 6px 3px;
}
.id-meeting {
    float: left;
    width: 80%;
    padding-left: 250px;
    margin-top: 4px;
    color: #434448;
    font-size: 17px;
}
.flex {
    display: flex;
}
.img-zoom {
    width: 12px;
}
.botton-grey {
    width: 200px;
    height: 17px;
    border: none;
    background: white;
    
}
.botton-grey-dentro {
    width: 30px;
    height: 3px;
}
.site_main {
    background: black;
    width: 100%;
    height: 800px;
    flex-wrap: wrap;
}
.botton-speaker {
    width: 130px;
    height: 30px;
    background: #292929;
    color: white;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    vertical-align: middle;
}
.botton-arrow {
    width:45px ;
    height: 30px;
    border: none;
    border-radius: 10px;
    background: #292929;
    vertical-align: middle;
    color: white;
}
.button-main {
    padding-top: 10px;
    margin-left: 1240px;
}
.colon-arrow-left {
    color: gray;
    float: left;
    width: 5%;
    
}
.colon-arrow-right {
    color: #39BBFC;
    float: left;
    width: 5%;
    
}
.colon-immage1 {
    flex-direction: column;
    float: left;
    width: 18%;
    position: relative;
}
.colon-immage2 {
    flex-direction: column;
    float: left;
    width: 18%;
}
.colon-immage3 {
    flex-direction: column;
    float: left;
    width: 18%;
}
.colon-immage4 {
    flex-direction: column;
    float: left;
    width: 18%;
}
.colon-immage5 {
    flex-direction: column;
    float: left;
    width: 18%;
}
.img1 {
    width: 245px;
    height: 127px;
    margin-top: 7px;
}
.table {
    margin-top: 13px;
    flex-wrap: wrap;
}
.text {
    color: white;
    padding-left: 20px;
}

.arrow-left {
    padding-top: 311px;
    padding-left: 15px;
}
.arrow-right {
    padding-top: 311px;
    padding-left: 22px;
}
.microphon {
    position: absolute;
    color: white;
    width: 108px;
    background: #00000091;
    margin-top: -22px;
    height: 18px;
    font-size: 14px;
}
.site_footer {
    width: 100%;
    background: #232628;
    height: 60px;
    color: white;
    justify-content: space-between;
    
}
.call {
    align-items: center;
}
.p-footer {
    font-size: 13px;
    padding-top: 3px;
    padding-left: 25px;
}
.footer1 {
    padding-left: 7px;
}
.icon {
    padding-left: 10px;
}
.icon4 {
    padding-left: 10px;
}
.icon2 {
    padding-left: 42px;
}
.info {
    align-items: center;
}
.icon4 {
    margin-left: 48px;
}
.icon3 {
    margin-left: 15px;
}
.icon5 {
    margin-left: 19px;
}
.icon6 {
    margin-left: 34px;
}
.icon7 {
    margin-left: 13px;
}
.icon8 {
    margin-left: 17px;
}
.icon9 {
    margin-left: 41px;
}
.icon10 {
    margin-left: 13px;
}
.exit {
    background: #494A4B;
    align-items: center;
    padding-right: 14px;
    color: #DC4F4E;
}